div input#btn_menos {
    width: 15px;
    background-color: white;
    border-color: rgb(241, 238, 238);
}

div input#btn_mais {
    width: 15px;
    background-color: white;
    border-color: rgb(241, 238, 238);
}

#total {
    text-align: center;
    font-size: 20px;
}

div h1 {
    text-align: center;
}

#vazio {
    text-align: center;
}